/*-------------------------------------
--------------- CART ICON -------------
---------------------------------------*/

.cart-icon-main-div {
  cursor: pointer;
}

.cart-icon svg {
  width: 3rem;
  height: 3rem;
  transition: all 0.3s;
  color: #383838;
}

.cart-icon svg:hover {
  color: #9f9f9f;
}

.cart-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cart-icon-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  font-size: 1.2rem;
}

/*-------------------------------------
--------------- CART SECTION -------------
---------------------------------------*/

.cart-section {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  width: 40rem;
  background-color: #88043d;
  z-index: 10001;
  overflow-y: auto;
  transform: translateX(100%);
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-visible {
  transform: translateX(0%);
}

.cart-main-div {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.2rem;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  overflow-y: auto; /* Add this line for vertical scrollbar */
}

.cart-section::-webkit-scrollbar {
  width: 12px;
}

.cart-section::-webkit-scrollbar-thumb {
  background-color: #ff76b1; /* Color of the scrollbar thumb */
  border-radius: 6px;
}

.cart-section::-webkit-scrollbar-track {
  background-color: #88043d; /* Color of the scrollbar track */
}

.cart-heading-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.2rem;
}

.cart-close-btn {
  font-size: 2.4rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.cart-heading-secondary {
  font-size: 2.6rem;
  color: white;
  text-decoration: underline;
}

.cart-cake-item-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.cart-cake-img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 10rem;
}

.cart-cake-img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
  padding: 0.6rem;
}

.cart-adding-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}

.cart-adding-text {
  font-size: 1.6rem;
  color: white;
  font-weight: 600;
}

.cart-adding-btn {
  cursor: pointer;
  transition: all 0.3s;
}

.cart-adding-btn:hover {
  color: #ff76b1;
}

.cart-cake-name {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.cart-cake-price {
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
}

.delete-cake-item-btn {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
  cursor: pointer;
  font-weight: 600;
}

.cart-checkout-div {
  align-self: flex-end;
  justify-self: end;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.8rem;
  background-color: #88043d;
}

.cart-checkout-text {
  color: white;
  font-weight: 700;
  font-size: 3.2rem;
}

.cart-checkout-btn {
  background-color: #ff76b1;
  color: white;
  padding: 1.2rem 2.4rem;
  font-weight: 700;
  border: 2px solid #000000;
  cursor: pointer;
  transition: all 0.3s;
}

.cart-checkout-btn:hover {
  background-color: #88043d;
  border: 2px solid #ff76b1;
}

.cart-seperator {
  height: 0.2rem;
  width: 100%;
  background-color: rgba(192, 192, 192, 0.443);
}
