.cta-section {
  background-color: #f7e6ed;
}

.cta-grid {
  display: grid;
  grid-template-columns: 60% 40%;
}

.cta-left-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.6rem;
  padding: 0 6.4rem;
}

.cta-p {
  font-size: 1.4rem;
  color: #383838;
}

.cta-btn-div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.cta-btn {
  padding: 0.8rem 2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  border: 2px solid #88043d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  transition: all 0.5s;
}

.cta-btn-1 {
  background-color: #f7e6ed;
  color: #88043d;
  font-weight: 700;
}

.cta-btn-1 svg {
  opacity: 0;
  transition: all 0.5s;
  fill: #88043d;
}

.cta-btn-1:hover svg {
  opacity: 1;
}

.cta-btn-2 {
  background-color: #88043d;
  color: white;
  font-weight: 700;
}

.cta-btn-2 svg {
  transition: all 0.5s;
  fill: white;
  opacity: 0;
}

.cta-btn-2:hover svg {
  opacity: 1;
}

.cta-right-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-cake-img {
  width: 100%;
}

.icing-separator {
  background-color: white;
}

.icing-img {
  width: 100%;
}
