* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.heading-primary {
  font-size: 5.2rem;
  color: #88043d;
}

.heading-secondary {
  font-size: 4.2rem;
  color: #88043d;
  text-align: center;
  font-family: "Agbalumo", sans-serif !important;
}

.section {
  max-width: 120rem;
  margin: 0 auto;
}
