.header {
  background-color: #f7e6ed;
  padding: 2.4rem 0;
  position: relative;
  z-index: 1000;
  transition: opacity 0.5s ease; /* Apply transition only to opacity */
  opacity: 1; /* Initially set opacity to 1 */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  animation: fadeInDown 0.5s; /* Optional: Add a fade-in effect */
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-main-div {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo-letter {
  font-family: "Agbalumo", sans-serif !important;
  text-align: center;
  font-size: 2.6rem;
  color: #88043d;
  margin-top: -0.9rem;
}

.logo-letter-1 {
  font-size: 3.8rem;
  margin-bottom: -0.9rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
}

.nav-link {
  color: #383838;
  text-decoration: none;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.5s;
  position: relative; /* Add position: relative; */
  display: inline-block;
  font-weight: 600;
}

.nav-link:hover {
  color: #3838388c;
}

.nav-link span {
  display: inline-block;
  transition: transform 0.7s; /* Add transition to the span */
}

.nav-link:hover span {
  transform: rotate(360deg);
}

.header-icons-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.header-icons-div svg {
  fill: #383838;
}

.nav-btn {
  height: 3rem;
  width: 3rem;
  background: none;
  border: none;
  display: none;
}

.nav-btn svg {
  cursor: pointer;
}
