.shop-section {
  padding: 9.6rem 3.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.type-cake-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.6rem;
  margin-bottom: 1.2rem;
  gap: 3.6rem;
}

.cake-type {
  border-bottom: 2px solid #38383863;
  font-size: 1.6rem;
  color: #383838;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: 500;
}

.cake-type:hover {
  color: #88043d;
  border-bottom: 2px solid #88043d;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.shop-cake-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-cake-img {
  width: 70%;
}

.cake-text-div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.shop-cake-name {
  font-size: 2.2rem;
  color: #88043d;
}

.shop-cake-text {
  font-size: 1.4rem;
  color: #383838;
  text-align: center;
}

.cake-plus-icon svg {
  width: 2rem;
  height: 2rem;
  fill: #9d9d9d;
  cursor: pointer;
  margin-left: 0.8rem;
  transition: all 0.3s;
}

.cake-plus-icon svg:hover {
  fill: #88043d;
}

.cake-price {
  font-size: 4.8rem;
  color: #383838;
  font-weight: 500;
}

.shop-cake-btn {
  padding: 0.8rem 3.6rem;
  background-color: #88043d;
  color: white;
  border: 2px solid #88043d;
  border-radius: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}

.shop-cake-btn:hover {
  background-color: white;
  color: #88043d;
}

.view-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.6rem;
  background: transparent;
  border: none;
  color: #383838;
  cursor: pointer;
}

.view-more-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-more-icon svg {
  fill: #383838;
  transition: all 0.3s;
}

.ingredient-selection-box {
  display: flex;
  flex-direction: column;
}

.ingredient-selection-box h4 {
  color: #88043d;
  font-size: 1.6rem;
}

.extra-ingredient-div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 0.8rem;
}

.extra-ingredient-text-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extra-ingredient-text {
  color: #383838;
  font-size: 1.2rem;
  cursor: pointer;
  list-style: none;
  font-weight: 500;
}

.ingredient-remove-icon svg {
  fill: #383838;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
